<form class="{{cssClass}}" autocomplete="off">
     <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

     <label>Type</label>
     <input type="text" name="system.type" value="{{item.system.type}}"/>

     <label>DC</label>
     <input type="number" name="system.dc" value="{{item.system.dc}}"/>

     <label>skillsUsed</label>
     <input type="text" name="system.skillsUsed" value="{{item.system.skillsUsed}}"/>

     <label>timeIncrement</label>
     <input type="text" name="system.timeIncrement" value="{{item.system.timeIncrement}}"/>

     <label>timeBonus</label>
     <input type="number" name="system.timeBonus" value="{{item.system.timeBonus}}"/>

     <label>damage</label>
     <input type="text" name="system.damage" value="{{item.system.damage}}"/>

     <label>obfuscation</label>
     <input type="number" name="system.obfuscation" value="{{item.system.obfuscation}}"/>

     <label>penalty</label>
     <input type="text" name="system.penalty" value="{{item.system.penalty}}"/>

     <label>focusDamage</label>
     <input type="text" name="system.focusDamage" value="{{item.system.focusDamage}}"/>
</form>