<form class="{{cssClass}}" autocomplete="off">
     <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

     <label>Type</label>
     <input type="text" name="system.type" value="{{item.system.type}}"/>

     <label>DC</label>
     <input type="number" name="system.dc" value="{{item.system.dc}}"/>

     <label>skillsUsed</label>
     <input type="text" name="system.skillsUsed" value="{{item.system.skillsUsed}}"/>

     <label>successDamage</label>
     <input type="text" name="system.successDamage" value="{{item.system.successDamage}}"/>

     <label>failDamage</label>
     <input type="text" name="system.failDamage" value="{{item.system.failDamage}}"/>
</form>